@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");
@import url("http://fonts.googleapis.com/earlyaccess/notosanskr.css");
body {
  margin: 0;
  font-family: "Noto Sans Kr","Raleway", serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to left, rgb(27 20 41), rgb(20 15 35));
}
